$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;
$color-aqua: aqua;
$color-black: black;

// Primary
$color-marine-blue: #121244;
$color-purplish-blue: hsl(243, 52%, 38%);
$color-pastel-blue: hsl(228, 100%, 84%);
$color-light-blue: hsl(206, 100%, 77%);
$color-strawberry-red: hsl(224, 76%, 54%);
$color-harlequin: #10E30F;
$color-harlequin-light-shade: #2EF82D;
$color-harlequin-dark-shade: #04C103;
$color-harlequin-dark-shade-2: #039F02;
$color-violet-dark: rgb(0, 83, 160);

// Neutral
$color-cool-gray: hsl(231, 11%, 63%);
$color-light-gray: hsl(229, 24%, 87%);
$color-magnolia: hsl(217, 100%, 97%);
$color-alabaster: hsl(231, 100%, 99%);